.logo{
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    text-decoration: plum underline wavy;
    letter-spacing: 20px;
}



