h1
{
    /* hex code */
    color: #00008B;
}

h2
{
    color: magenta;
}

p{
    /* this is named colors */
    color: white;
    background-color: black;
}

button{
    /* added some rgb color not expected to know so ig just pick something from a color picker */
    color:rgb(255, 0, 0); 
    background-color: pink;
}