section
{
    width : 500px;
    height: 500px;
    background-color: beige;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.7)
}

#Opacity {
    width: 50%;
    height: 50%;
    background-color: rgb(203, 31, 60);
    opacity: 0.3;
}