
.card{
    width: 210px;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    
}
img{
    width:200px;
    border: 5px solid rgb(236, 183, 191);
    border-radius: 100%;
}